<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
<meta name="description" content="The {{ site.saltnum }}th meeting of Semantics and Linguistic Theory">
<meta property="og:title" content="SALT{{ site.saltnum }}" />
<meta property="og:url" content={{ "/" | relative_url | absolute_url }} />
<meta property="og:description" content="The {{ site.saltnum }}th meeting of Semantics and Linguistic Theory">
<meta property="og:image" content={{ "/assets/images/salt34-preview.png" | relative_url | absolute_url }} />
<meta property="og:type" content="website" />
<link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}" type="text/css" media="screen" />
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">