#logo-div {
    width: 100%;
    margin: 2em auto;
    margin-bottom: 1em;
}

#logo {
    width: 100%;
    min-height: 112px;
}

#logo-link {
    border-bottom: none;
}

#location-div {
    width: 100%;
    text-align: center;
    margin-top: 6px;
    font-style: normal;
}

#location {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5em;
}

#date {
    font-size: 14px;
    font-weight: 500;
}