@use "config";

span.titledate {padding-left:20px}
ol.pastsalts {counter-reset:item 1989}
ol.pastsalts li { display: block; }
ol.pastsalts li:before {content: counter(item) ": "; counter-increment: item }


table.program {
    border-collapse: collapse;
    border: 2px solid white;
    /* border-spacing: 2px; */
    border-spacing: 0px 0px;
    font-size: 14px;
}

table.program td {
    padding: 5px 10px;
    margin: 0px;
    vertical-align: top;
    border: 2px solid white;
}

td.time {
    width: 20%;
}

td.authors {
    width: 40%;
}

td.title {
    width: 40%;
}

tr.admin {
    /* background-color: #C6C6C6; */
}

tr.break, tr.talk {
    height: 50px;
}

tr.lunch {
    height: 70px;
}

tr.party {
    height: 100px;
}

tr.break, tr.breakShort, tr.lunch, tr.party {
    /* background-color: #B2B2B2; */
}

tr.break td, tr.lunch td, tr.party td, tr.breakShort {
    border-top: 10px solid white;
    /* border-top: 10px solid #febb36; */
    /* border-bottom: 10px solid #febb36; */
}
tr.talk, tr.talkChairinfo {
    /* background-color: #C7D1C5; */
    background-color: #{config.$primary}2e;
}

/* tr.talk td:first-child, tr.talkChairinfo td:first-child { */
/*     border-left: 10px solid #febb36; */
/* } */
/* tr.talk td:last-child, tr.talkChairinfo td:last-child { */
/*     border-right: 10px solid #febb36; */
/* } */
/* tr.talkChairinfo td { */
/*     border-top: 10px solid #febb36; */
/* } */

tr.postertalk, tr.poster {
    height: 70px;
}

tr.posterChairinfo, tr.postertalk, tr.poster {
    background-color: #DAD7CB;
}

tr.invited {
    height: 70px;
}

tr.invited, tr.invitedChairinfo {
    /* background-color: #B6B1A9; */
    background-color: #{config.$accent}85;
}

tr.talkChairinfo, tr.invitedChairinfo, tr.posterChairinfo {
    text-align: center;
    font-weight: bold;
}

tr.talkChairinfo td, tr.invitedChairinfo td, tr.posterChairinfo td {
    border-top: 10px solid white;
}

tr.posterInfoLightTwo, tr.posterInfoLightOne {
    background-color: #DAD7CB;
    /* background-color: #8FBAC8; */
    /* border-spacing: 0px; */
    /* display: none; */
}

tr.posterInfoLightTwo td, tr.posterInfoLightOne td {
    border-style: none;
}

/* tr.postertalk td { */
/*     border-bottom: 2px solid white; */
/* } */

#tuesday, #wednesday, #thursday, #alts {
    margin-top: 40px;
    padding-top: 20px;
    /* border-bottom: 3px solid #febb36; */
    border-top: 3px solid config.$accent;
}

.program a {
    color: #000;
    /* border-bottom-style: dotted; */
    /* font-weight: 500; */
    line-height: 1.5em;
}

span.materials a {
    color: config.$primary;
}
/* .program a:focus, .program a:hover {color:#820000; background-image:none} */

tr.hidden {
    display: none;
}

#lightTwoPosterArr, #lightOnePosterarr {
    width: 12px;
    display: inline-block;
}
#lightTwoPosterArr.collapsed:before, #lightOnePosterArr.collapsed:before {content: '▸ '; }
#lightTwoPosterArr:not(.collapsed):before, #lightOnePosterArr:not(.collapsed):before {content: '▾ '; }

a.chairName {
    text-decoration: none;
    font-weight: bold;
}